.container {
    display: flex;
}
.row {
    width: 50%;
    padding: 40px;
}
.row-1 {
    border-right: 10px solid black;
}
.roblox-img {
    position: absolute;
}
.relative {
    position: relative;
}